# Mapping migration

Introduction to vector data operations

## STEP 0: Set up

To get started on this notebook, you’ll need to restore any variables
from previous notebooks to your workspace. To save time and memory, make
sure to specify which variables you want to load.

In [14]:
%store -r gbif_gdf ecoregions_gdf

:::

### Identify the ecoregion for each observation

You can combine the ecoregions and the observations **spatially** using
a method called `.sjoin()`, which stands for spatial join.

<link rel="stylesheet" type="text/css" href="./assets/styles.css"><div class="callout callout-style-default callout-titled callout-read"><div class="callout-header"><div class="callout-icon-container"><i class="callout-icon"></i></div><div class="callout-title-container flex-fill">Read More</div></div><div class="callout-body-container callout-body"><p>Check out the <a
href="https://geopandas.org/en/stable/docs/user_guide/mergingdata.html#spatial-joins"><code>geopandas</code>
documentation on spatial joins</a> to help you figure this one out. You
can also ask your favorite LLM (Large-Language Model, like ChatGPT)</p></div></div>

<link rel="stylesheet" type="text/css" href="./assets/styles.css"><div class="callout callout-style-default callout-titled callout-task"><div class="callout-header"><div class="callout-icon-container"><i class="callout-icon"></i></div><div class="callout-title-container flex-fill">Try It: Perform a spatial join</div></div><div class="callout-body-container callout-body"><p>Identify the correct values for the <code>how=</code> and
<code>predicate=</code> parameters of the spatial join.</p></div></div>

In [15]:
gbif_ecoregion_gdf = (
    ecoregions_gdf
    # Match the CRS of the GBIF data and the ecoregions
    .to_crs(gbif_gdf.crs)
    # Find ecoregion for each observation
    .sjoin(
        gbif_gdf,
        how='right', 
        predicate='contains')
)
gbif_ecoregion_gdf

,index_left,OBJECTID,ECO_NAME,BIOME_NUM,BIOME_NAME,REALM,ECO_BIOME_,NNH,ECO_ID,SHAPE_LENG,SHAPE_AREA,NNH_NAME,COLOR,COLOR_BIO,COLOR_NNH,LICENSE,gbifID,month,geometry
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4158712344,5,POINT (-82.5092 41.9137)
1,138.0,140.0,Central US forest-grasslands transition,8.0,"Temperate Grasslands, Savannas & Shrublands",Nearctic,NE08,4.0,387.0,62.955857,24.173692,Nature Imperiled,#A3FC62,#FEFF73,#EE1E23,CC-BY 4.0,4923515059,5,POINT (-87.61172 41.85281)
2,138.0,140.0,Central US forest-grasslands transition,8.0,"Temperate Grasslands, Savannas & Shrublands",Nearctic,NE08,4.0,387.0,62.955857,24.173692,Nature Imperiled,#A3FC62,#FEFF73,#EE1E23,CC-BY 4.0,4923522410,9,POINT (-87.61172 41.85281)
3,138.0,140.0,Central US forest-grasslands transition,8.0,"Temperate Grasslands, Savannas & Shrublands",Nearctic,NE08,4.0,387.0,62.955857,24.173692,Nature Imperiled,#A3FC62,#FEFF73,#EE1E23,CC-BY 4.0,4923520798,5,POINT (-87.61172 41.85281)
4,138.0,140.0,Central US forest-grasslands transition,8.0,"Temperate Grasslands, Savannas & Shrublands",Nearctic,NE08,4.0,387.0,62.955857,24.173692,Nature Imperiled,#A3FC62,#FEFF73,#EE1E23,CC-BY 4.0,4923520314,9,POINT (-87.63013 41.88036)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165609,499.0,504.0,Northeast US Coastal forests,4.0,Temperate Broadleaf & Mixed Forests,Nearctic,NE04,4.0,339.0,72.287267,7.876180,Nature Imperiled,#38A700,#00734C,#EE1E23,CC-BY 4.0,4423534780,9,POINT (-75.1254 40.0626)
165610,758.0,764.0,Upper Midwest US forest-savanna transition,4.0,Temperate Broadleaf & Mixed Forests,Nearctic,NE04,3.0,343.0,46.420661,15.481685,Nature Could Recover,#69BD34,#00734C,#F9A91B,CC-BY 4.0,4524632357,6,POINT (-89.8049 44.6967)
165611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4173211734,5,POINT (-82.4753 42.0478)
165612,228.0,232.0,Eastern Canadian Forest-Boreal transition,4.0,Temperate Broadleaf & Mixed Forests,Nearctic,NE04,2.0,333.0,48.666911,37.723227,Nature Could Reach Half Protected,#73FA60,#00734C,#7BC141,CC-BY 4.0,4173216429,6,POINT (-74.5468 46.1638)
165613,499.0,504.0,Northeast US Coastal forests,4.0,Temperate Broadleaf & Mixed Forests,Nearctic,NE04,4.0,339.0,72.287267,7.876180,Nature Imperiled,#38A700,#00734C,#EE1E23,CC-BY 4.0,4423531794,9,POINT (-75.1254 40.0626)

### Count the observations in each ecoregion each month

<link rel="stylesheet" type="text/css" href="./assets/styles.css"><div class="callout callout-style-default callout-titled callout-task"><div class="callout-header"><div class="callout-icon-container"><i class="callout-icon"></i></div><div class="callout-title-container flex-fill">Try It: Group observations by ecoregion</div></div><div class="callout-body-container callout-body"><ol type="1">
<li>Replace <code>columns_to_group_by</code> with a list of columns.
Keep in mind that you will end up with one row for each group – you want
to count the observations in each ecoregion by month.</li>
<li>Select only month/ecosystem combinations that have more than one
occurrence recorded, since a single occurrence could be an error.</li>
<li>Use the <code>.groupby()</code> and <code>.mean()</code> methods to
compute the mean occurrences by ecoregion and by month.</li>
<li>Run the code – it will normalize the number of occurrences by month
and ecoretion.</li>
</ol></div></div>

In [16]:
occurrence_df = (
    gbif_ecoregion_gdf
    # Select only necessary columns
    [["ECO_NAME","month","gbifID"]]
    # For each ecoregion, for each month...
    .groupby(["ECO_NAME","month"])
    # ...count the number of occurrences
    .agg(occurrences=("gbifID", "count"))
    .reset_index()
)

# Get rid of rare observations (possible misidentification?)
occurrence_df = occurrence_df[occurrence_df["occurrences"] > 1]

# Take the mean by ecoregion
mean_occurrences_by_ecoregion = (
    occurrence_df
    .groupby("ECO_NAME", as_index=False)["occurrences"]
    .mean()
    .rename(columns={"occurrences": "mean_occurrences"})
)
# Take the mean by month
mean_occurrences_by_month = (
    occurrence_df
    .groupby("month", as_index=False)["occurrences"]
    .mean()
    .rename(columns={"occurrences": "mean_occurrences"})
)

### Normalize the observations

<link rel="stylesheet" type="text/css" href="./assets/styles.css"><div class="callout callout-style-default callout-titled callout-task"><div class="callout-header"><div class="callout-icon-container"><i class="callout-icon"></i></div><div class="callout-title-container flex-fill">Try It: Normalize</div></div><div class="callout-body-container callout-body"><ol type="1">
<li>Divide occurrences by the mean occurrences by month AND the mean
occurrences by ecoregion</li>
</ol></div></div>

In [17]:
# Merge means onto the counts
occurrence_df = (
    occurrence_df
    .merge(
        mean_occurrences_by_month.rename(columns={"mean_occurrences": "mean_by_month"}),
        on="month", how="left"
    )
    .merge(
        mean_occurrences_by_ecoregion.rename(columns={"mean_occurrences": "mean_by_ecoregion"}),
        on="ECO_NAME", how="left"
    )
)

# Normalize by space (ecoregion) and time (month)
occurrence_df["norm_occurrences"] = (
    occurrence_df["occurrences"] /
    (occurrence_df["mean_by_month"] * occurrence_df["mean_by_ecoregion"])
)

occurrence_df.head()

,ECO_NAME,month,occurrences,mean_by_month,mean_by_ecoregion,norm_occurrences
0,Alberta-British Columbia foothills forests,5,2,1226.186441,2.000000,0.000816
1,Alberta-British Columbia foothills forests,6,2,1089.048780,2.000000,0.000918
2,Alberta-British Columbia foothills forests,7,2,568.051282,2.000000,0.001760
3,Allegheny Highlands forests,4,2,143.527778,1449.666667,0.000010
4,Allegheny Highlands forests,5,3023,1226.186441,1449.666667,0.001701

<link rel="stylesheet" type="text/css" href="./assets/styles.css"><div class="callout callout-style-default callout-titled callout-task"><div class="callout-header"><div class="callout-icon-container"><i class="callout-icon"></i></div><div class="callout-title-container flex-fill">Try It</div></div><div class="callout-body-container callout-body"><p>Make sure to store the new version of your <code>DataFrame</code> for
other notebooks!</p>
<div id="f13606e9" class="cell" data-execution_count="9">
<div class="sourceCode" id="cb1"><pre
class="sourceCode python cell-code"><code class="sourceCode python"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="op">%</span>store occurrence_df</span></code></pre></div>
</div></div></div>

# STEP -1: Wrap up

Don’t forget to store your variables so you can use them in other
notebooks! Replace `var1` and `var2` with the variable you want to save,
separated by spaces.

In [18]:
%store occurrence_df

Stored 'occurrence_df' (DataFrame)

Finally, be sure to `Restart` and `Run all` to make sure your notebook
works all the way through!